/* ------------------------ Breadcrumb --------------------------------*/
.breadcrumb {
    display: block;
    color: #667085;
}


.crumb-list {
    display: flex;
    margin: unset;
}

.crumb-list li {
    display: inline;
}

.crumb-list a {
    cursor: pointer;
    color: #667085;
}

.crumb-list div {
    cursor: pointer;
}

li.crumb {
    margin-left: 0px;
    margin-right: 0px;
}

.breadcrumb-icon {
    margin-left: 12px;
    margin-right: 12px;
}

/*Cor da casinha*/
/* .breadcrumb-home>div>i{
	color: #667085;
} */

/*Cor do slash*/
li.crumb i {
    color: #D0D5DD;
}

/*Cor da categoria*/
.color-accent {
    color: #F58634;
}

/*Cor do nome do post*/
.breadcrumb-title span {
    color: #F58634;
}

/* Para parte extra da breadcrumb */
.extra-crumb {
    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
}

.extra-crumb a {
    cursor: pointer;
    color: #667085;
}

/* ------------------------ Pesquisa --------------------------------*/
.container-pesquisa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.form-pesquisa {
    color: #555;
    display: flex;
    align-items: center;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
}

input[type="search"].pesquisa {
    border: none;
    background: transparent;
    margin: 0;
    /* padding: 24px 8px; */
    /* font-size: 14px; */
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"].lupa {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

.botao {
    background-color: #F58634;

}

button[type="submit"].pesquisa:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}

form.nosubmit {
    border: none;
    padding: 0;
}

input.nosubmit {
    border: 1px solid #555;
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

/* alterar apenas o select dentro desse container*/
.div-container select {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
    background-color: transparent;

    margin-right: 24px;
    padding-left: 16px;

    border: none;
    border-left: solid 2px #969696;
}

/* Alterar o botão de submit*/
input[type="submit"] {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: none;
    background-color: #F58634;
    padding: 15px 40px;
    border-radius: 8px;
}

.div-search {
    width: 100%;
    background-color: white !important;
}

.div-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 9px 16px;
}